html, body {
    height: 100%;
}
body{
	background-image: url('../imagens/background.jpg');
    background-size: cover;
}
div.card-body ul li.description{
	min-height: 48px;
} 
a.btn.false {
    pointer-events: none;
    border-color: #ccc;
    color: #ccc;
}
.btn-outline-primary.false {
    color: #007bff;
    background-color: transparent;
}