<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1>Escolha seu plano:</h1>
	<p class="lead">Agora é a hora de mudar de vida!</p>
</div>

<div class="container">
	<div class="row mb-3 text-center">
		<div class="col-sm-4" ng-repeat="plano in vm.planoComputador">
			<div class="card mb-4 shadow-sm" >
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">{{plano.franquia}}</h4>
				</div>
				<div class="card-body">
					<h3 class="card-title pricing-card-title">R${{plano.valor}} / mês</small></h3>
					<ul class="list-unstyled mt-3 mb-4">
						<li><strong>{{plano.aparelho.nome}}</strong></li>
						<li><strong>R${{plano.aparelho.valor}}</strong></li>
						<li><strong>Parcelas: {{plano.aparelho.numeroParcelas}}x</strong> <em ng-show="plano.aparelho.valorParcela">R${{plano.aparelho.valorParcela}}</em></li>
					</ul>
					<a href="/formulario/{{plano.sku}}" class="btn {{plano.ativo}} btn-lg btn-block btn-outline-primary" role="button">OK</a>
				</div>
			</div>
		</div>
	</div>
</div>