<div ng-controller="planosCtrl">

	<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1>Escolha um plano:</h1>
		<p class="lead">Seu {{nomePlataforma}} conectado 24h!</p>
	</div>

	<div class="container">
		<div class="row mb-3 text-center">
			<div class="col-xs-12 col-sm-12 col-md-4" ng-repeat="plano in todosPlanos">
				<div class="card mb-4 shadow-sm" >
					<div class="card-header">
						<h4 class="my-0 font-weight-normal" ng-model="plano.franquia">{{plano.franquia}}</h4>
					</div>
					<div class="card-body">
						<h3 class="card-title pricing-card-title">R${{plano.valor}} <small>/ mês</small></h3>
						<ul class="list-unstyled mt-3 mb-4" ng-if="plano.aparelho">
							<li><strong>{{plano.aparelho.nome}}</strong></li>
							<li>R${{plano.aparelho.valor}}</li>
							<li>Em {{plano.aparelho.numeroParcelas}} parcela<span ng-if="plano.aparelho.numeroParcelas>1">s</span> <span ng-if="plano.aparelho.valorParcela">de R${{plano.aparelho.valorParcela}}</span></li>
						</ul>
						<a href="#!/dados/{{skuPlataforma}}/{{plano.sku}}/{{$index}}" class="btn {{plano.ativo}} btn-lg btn-block btn-outline-primary" role="button"><i ng-if="plano.ativo" class="fa fa-check" aria-hidden="true"></i><i ng-if="!plano.ativo" class="fa fa-times" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>