<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
	<h1>Escolha sua plataforma:</h1>
	<p class="lead">Um passo de cada vez.</p>
</div>

<div class="container">
	<div class="row mb-3 text-center">
		<div class="col-xs-12 col-sm-12 col-md-4" ng-repeat="plataforma in plataformas">
			<div class="card mb-4 shadow-sm">
				<div class="card-header">
					<h4 class="my-0 font-weight-normal">{{plataforma.nome}}</h4>
				</div>
				<div class="card-body">
					<ul class="list-unstyled mt-3 mb-4">
						<li class="description">{{plataforma.descricao}}</li>
					</ul>
					<a href="#!/planos/{{plataforma.sku}}/{{plataforma.nome}}" class="btn btn-lg btn-block btn-outline-primary"><i class="fa fa-check" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>